<!DOCTYPE html>
<html>
<head>
    <title>Store</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            <th>available by</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.available_by }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>